$create-color: #C52C02;

.view-claims {
    padding-bottom: 20px;

    .create {
        font-size: 15px;
        text-align: right;

        > a {
            color: $create-color;
        }
    }

    > .table {

        .table-row {

            .title {
                width: 40%;
                text-align: left;
            }

            .email {
                width: 20%;
                text-align: left;
            }

            .date {
                width: 20%;
                text-align: left;
            }

            .view {
                width: 10%;
                text-align: center;
            }

            .delete {
                width: 10%;
                text-align: center;
            }
        }
    }
}
