$create-color: #C52C02;

.view-contact {
    padding-bottom: 20px;    
    > .table {

        .table-row {

            .sr {
                width: 5%;
            }

            .title {
                width: 85%;
                text-align: left;
            }           

            .edit {
                width: 10%;
                text-align: center;
            }           
        }
    }
}
