$background: #C52C02;
$color: #C52C02;
$font-size: 13px;

.view-links {
    padding-bottom: 20px;
    padding-right: 20px;

    .create-link {
        color: $color;
        font-size: 13px;
        text-align: right;
    }

    > .table {
        border: 1px solid $background;

        .table-row {
            .table-cell {
                padding: 5px;
                font-size: 13px;
            }

            .heading {
                background: $background;
                color: #fff;
                font-weight: normal;
            }

            .sr {
                width: 5%;
                text-align: right;
            }

            .title {
                width: 25%;
                text-align: left;
            }

            .url {
                width: 10%;
                text-align: left;
            }

            .parent {
                width: 10%;
                text-align: right;
            }

            .is-link,
            .is-hidden {
                width: 10%;
                text-align: center;
            }

            .sub-link {
                width: 10%;
                text-align: center;                
            }

            .edit {
                width: 10%;
                text-align: center;
            }

            .delete {
                width: 10%;
                text-align: center;
            }

            .sr.heading {
                text-align: center;
            }
        }
    }
}
