$background: #C52C02;
$table-heading-color: #fff;
$font-size: 13px;
$table-break: 799px;
$res-row-pad:7px;

.table.list {
    border: 1px solid $background;

    @media only screen and (max-width:$table-break) {
        border: none;
    }

    .un-res.table-row {
        @media only screen and (max-width:$table-break) {
            display: none;
        }
    }

    .table-row {
        @media only screen and (max-width:$table-break) {
            display: table;
            text-align: left;
            border: 1px solid $background;
            margin-bottom: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .table-cell {
            padding: 8px;
            font-size: 14px;

            @media only screen and (max-width:$table-break) {
                display: table-row !important;
                text-align: left !important;
            }

            .res-row-pad {
                @media only screen and (max-width:$table-break) {
                    padding: $res-row-pad;
                }
            }
        }

        .res-heading {
            display: none;

            @media only screen and (max-width:$table-break) {
                display: table-row;
                background: $background;
                text-align: left !important;
                color: $table-heading-color;
            }

            .res-row-pad {
                @media only screen and (max-width:$table-break) {
                    padding: $res-row-pad;
                }
            }
        }

        .heading {
            background: $background;
            color: $table-heading-color;
            font-weight: normal;
        }
    }
}
