$main-break: 999px;

.bo {
    background: #fff;

    > .header {
        height: 150px;
        padding-left: 30px;
        line-height: 180px;

        @media only screen and (max-width:$main-break) {
            padding-left: 0;
            text-align: center;
            height: auto;
            line-height: 0;
            padding: 10px;
        }
    }

    .bo-content-container {
        border: 1px solid #efefef;

        .bo-content {
            padding: 0 10px;
            float: left;
        }

        .bo-side-bar {
            width: 20%;
            float: left;

            @media only screen and (max-width:$main-break) {
                width: 100%;
            }
        }

        .bo-content {
            width: 80%;
            border-left: 1px solid #efefef;

            @media only screen and (max-width:$main-break) {
                width: 100%;
            }
        }
    }

    > .footer {
        height: 100px;
        background: #464646;
        color: #fff;
        line-height: 70px;
        text-align: center;
        font-weight: 600;
    }
}
