
$background: #C52C02;

.btn {
    font-size: 13px;
    font-weight: 600;
    padding: 0 16px 0 16px;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;

    /*&:hover {
        opacity: 0.8;
    }*/
}

.btn.two {
    margin-right: 5px;
}

.btn-default {
    background: $background;
    color: #fff;
}

.btn-delete-transparent {
    border: 0px;
    background-color: transparent;
    color: blue;
    cursor: pointer;
    outline: none;

    :hover {
        text-decoration: none;
        outline: none;
    }
}

.a-btn {
    display: inline-block;
    height: auto;
    width: auto;
}


.btn-black {
    background: #2e2e30;
    color: #fff;
}