<div class="header table">
    <div class="table-cell">
        <a href="/PGSolicitor/Default/Index" class="logo-container"></a>
    </div>
    <div class="table-cell">
        <div class="table contact-info">
            <div class="table-cell"><i class="icon icon-mail-alt"></i></div>
            <div class="table-cell">
                <div class="table email">info@gfs.co.uk</div>
                <div class="table phone">0208 7676 800</div>
            </div>
        </div>
    </div>
    <div class="table-cell">
        <div class="table opening-times">
            <div class="table-cell"><i class="icon icon-clock"></i></div>
            <div class="table-cell">
                <div class="table start">09:30 A.M</div>
                <div class="table end">06:00 P.M</div>
            </div>
        </div>
    </div>
    <div class="table-cell">
        <div class="table address">
            <div class="table-cell"><i class="icon icon-balance-scale"></i></div>
            <div class="table-cell">
                <div class="table address">12 Selkirk Road</div>
                <div class="table city">London</div>
                <div class="table postcode">SW17 0ES</div>
            </div>
        </div>
    </div>
</div>
