$main-break: 979px;
$second-break: 800px;

.news-services,
.location-claim {
    > .left,
    > .right {
        width: 50%;
        height: auto;
        float: left;

        @media only screen and (max-width:$second-break) {
            width: 100%;
        }
    }

    > .right {
        > .container-claim {
            padding-left: 40px;

            @media only screen and (max-width:$second-break) {
                padding-left: 0;
            }
        }
    }
}

.news-services {
    > .right {
        padding-left: 200px;

        @media only screen and (max-width:$main-break) {
            padding-left: 100px;
        }

        @media only screen and (max-width:$second-break) {
            padding-left: 0;
        }
    }
}

.location-claim {
    margin: 20px 0 0 0;

    > .left > h2 {
        margin-bottom: 40px;
    }
}
