@model Solicitor.Models.DefautViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}




<div class="news-services row-fluid">
    
</div>


<div class="location-claim row-fluid">
    <div class="left">
        <h2>OUR LOCATION</h2>
        <div class="row-fluid">
            @Html.Partial("_Location")
        </div>
    </div>
    <div class="right">
        @Html.Partial("_Claim", Model.Claim)
    </div>
</div>
