$primary-color: #C52C02;
$seconday-color: #939393;
$black-color: #2e2e30;
$font-family: "Gudea",sans-serif;
$main-break: 979px;

.container-claim {
    margin-top: 10px;
    padding-left: 40px;
    position: relative;

    @media only screen and (max-width:$main-break) {
        padding-left: 0;
    }

    .container-claim-inner {
        > .message {
            > .validation {
                font-size: 14px;
                font-family: $font-family;
            }

            > .validation:before {
                font-family: "fontello";
            }
        }

        > .validation-success {
            font-size: 15px;
        }

        > h2 {
            margin-bottom: 35px;
            margin-top: 10px;
        }

        .form {
            position: relative;

            #loading {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(255,255,255,0.7);
                z-index: 1;

                > img {
                    position: absolute;
                    top: 40%;
                    left: 48%;
                    width: auto;
                    height: auto;
                }
            }

            > .lbl {
                font-size: 15px;
                font-weight: 700;
                color: #303133;
                padding-bottom: 5px;
            }

            > .ctrl {
                padding: 0 0 10px 0;

                > .txtbox {
                    max-width: 100%;
                    font-style: normal;
                    font-family: $font-family;
                }

                > .multiline {
                    height: 191px;
                    resize: none;
                }

                > .btn {
                    height: 45px;
                    line-height: 45px;
                    font-size: 16px;
                    width: 100%;

                    &:hover {
                        background: $primary-color;
                    }
                }
            }
        }
    }
}
