
$primary-color: #C52C02;
$seconday-color: #939393;
$black-color: #2e2e30;
$font-family: "Gudea",sans-serif;
$main-break: 979px;

.make-a-claim {
    > .left,
    > .right {
        float: left;
        height: auto;
    }

    > .left {
        width: 70%;
        font-family: $font-family;

        @media only screen and (max-width:$main-break) {
            width: 100%;
        }
    }

    > .right {
        width: 30%;

        @media only screen and (max-width:$main-break) {
            width: 100%;
        }
    }
}