<div class="footer-inner row-fluid">
    <div class="left">
        <h3>LINKS</h3>
        <ul>
            <li>
                <a href="~/Default/Index">Home</a>
            </li>
            <li>
                <a href="~/Contents/Our/About-Us">About US</a>
            </li>
            <li>
                <a>Services</a>
            </li>



        </ul>
    
    <div class="right">
        <h3>CONTACT US</h3>
        <div class="title">Address</div>
        <div class="txt">120 Currie St, Adelaide SA 5000</div>
        <div class="title">Timing (Monday - Friday)</div>
        <div class="txt">9:00 A.M - 05:00 P.M</div>
        <div class="title">E-mail</div>
        <div class="txt">tafesa@adelaide.edu.au</div>
        <div class="title">Phone</div>
        <div class="txt">1800 882 661</div>
    </div>
</div>
<div class="copy-right row-fluid">
    <div class="copy-right-inner row-fluid">
        <div class="left">
            <div class="copy-content row-fluid">P&G SOLICITORS <span class="copy">&copy;</span> @DateTime.Now.Year</div>
        </div>
        <div class="right">
            <div class="social-media-icons row-fluid">
                <a href="#"><div class="icon icon-twitter"></div></a>
                <a href="#"><div class="icon icon-facebook"></div></a>
                <a href="#"><div class="icon icon-linkedin"></div></a>
            </div>
        </div>
    </div>
</div>
