<div class="header table">
    <div class="table-cell">
        <a href="/Solicitor/Default/Index" class="logo-container">

            
        </a>
    </div>
    <div class="table-cell">
        <div class="table contact-info">
            <div class="table-cell"><i class="icon icon-mail-alt"></i></div>
            <div class="table-cell">
                <div class="table email">tafesa@adelaide.edu.au</div>
                <div class="table phone">1800 882 661</div>
            </div>
        </div>
    </div>
    <div class="table-cell">
        <div class="table opening-times">
            <div class="table-cell"><i class="icon icon-clock"></i></div>
            <div class="table-cell">
                <div class="table start">09:00 A.M</div>
                <div class="table end">05:00 P.M</div>
            </div>
        </div>
    </div>
    <div class="table-cell">
        <div class="table address">
            <div class="table-cell"><i class="icon icon-balance-scale"></i></div>
            <div class="table-cell">
                <div class="table address">120 Currie St</div>
                <div class="table city">Adelaide</div>
                <div class="table postcode">SA 5000</div>
            </div>
        </div>
    </div>
</div>
