<div class="google-maps">
    <iframe width="600" height="500" frameborder="0" style="border:0" src="https://maps.google.com/maps?q=tafe%20sa%20adelaide&t=&z=13&ie=UTF8&iwloc=&output=embed" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>

