
<nav class="main-nav row-fluid">
    <ul>
        <li><a href="/Solicitor/default/index">HOME</a></li>
        <li>@Html.ActionLink("ABOUT", "Our", "Contents", new { pageUrl = "About-Us" }, null)</li>
        <li class="menu-service">
            <a href="#">SERVICES</a>
            <div class="menu-service-content">
                @{ Html.RenderAction("GetServices", "Layout"); }
            </div>
        </li>
        <li class="menu-team">
            <a href="#">TEAM</a>
           
        </li>
    
        
        <li class="menu-pages">
            <a href="#">PAGES</a>
           
        </li>
        <li class="make-a-claim"><a href="/Solicitor/Claim/MakeAClaim">MAKE A CLAIM</a></li>
    </ul>
</nav>