@model Solicitor.Models.SubService

@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutSSimple.cshtml";
}

<div class="detail-service-area row-fluid">

    <div class="left">
        <h2>@Model.Title.ToString()</h2>

        <div class="detail">
            @Html.Raw(Model.Description)
        </div>
    </div>
    <div class="right">
        <div class="side-bar">
            <div class="row-fluid">
                @{Html.RenderAction("ServiceSiderBar", new { serviceID = Model.ServiceID, serviceDetailID = Model.SubServiceID });}
            </div>
            
        </div>
    </div>

</div>

